/* custom CSS for shiny dashboard */

.user-panel p {
  padding-left: 12px; 
}

#grp1set {
  background-color: #4d4dff;
  color:white;
  font-weight: bolder;
}

#grp2set {
  background-color:#e36868;
 font-weight: bolder;
}